DEBUG=1
SECRET_KEY=django-insecure-change-me
ALLOWED_HOSTS=localhost,127.0.0.1,testserver

# sqlite | postgres
DB_ENGINE=sqlite
DB_NAME=wp_project
DB_USER=wp_project
DB_PASSWORD=wp_project
DB_HOST=localhost
DB_PORT=5432
